
{% extends 'base.html' %}
{% block content %}

<h1>Mission Statement <span class="badge badge-secondary">New</span></h1>
"Empowering Informed Investment: Our mission at Stock.Info is to simplify stock market information and empower individuals with the data they need to make confident investment decisions. We are dedicated to providing a user-friendly platform that enables users to effortlessly access and understand stock information for the companies they are interested in buying. By delivering essential stock data in a clear and intuitive manner, we aim to demystify the complexities of the stock market, making investing more accessible and informed for everyone."
{% endblock %}